[user]
  name = Hugo Bastien
  email = hugobast@gmail.com
[color]
  ul = auto
  ui = true
[alias]
  l = "!source ~/.githelpers && pretty_git_log"
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  aa = add --all
  ci = commit
  b = branch
[merge]
  tool = vimdiff
[core]
  excludesfile = /Users/hugobastien/.gitignore_global
  editor = vim
